<body>

  <div class="all">
  Reels
  <div>
   
  </div>
</div>









  
  <div class="barraTareas">


    <div class="iocons">
      <ion-button (click)="goToHome()" class="botones">
        <ion-icon slot="icon-only" name="home-outline"></ion-icon>
      </ion-button> 
    </div>
    
    
    <div class="iocons">
      <ion-button (click)="goToSearch()" class="botones">
        <ion-icon slot="icon-only" name="search-outline"></ion-icon>
      </ion-button> 
    </div>
    
    

    <div class="iocons">
      <ion-icon slot="icon-only" name="videocam-outline" class="iconspag"></ion-icon>
    </div>
    
    
    <div class="iocons">
      <ion-button (click)="goToShop()" class="botones">
        <ion-icon slot="icon-only" name="bag-handle-outline"></ion-icon>
      </ion-button> 
    </div>
    
    <div class="iocons">
      <ion-button (click)="goToPerfil()" class="botones">
        <ion-icon slot="icon-only" name="person-circle-outline"></ion-icon>
      </ion-button> 
    </div>
    
    
    
    
    </div>
</body>