<body>

  <div class="viewAll">

  <div class="all">
   <div class="header">
    <ion-item > 
      <ion-input  placeholder="Search" class="custom"></ion-input>
    </ion-item>
   </div>
   <div class="imagenes">
   <img src="https://cdn.discordapp.com/attachments/990627069945864232/1174913618752569344/Publi1.png?ex=65695293&is=6556dd93&hm=c7dae6a302920a656ac520ca82e477b137b216e7586cb9b602af0cb8d3c7d27a&">
   <img src="https://cdn.discordapp.com/attachments/990627069945864232/1174913737010974801/Publi2_1.png?ex=656952af&is=6556ddaf&hm=825c99cb2fcb44a28300a25b169560e827c55f9774f738031f023b63909e69f8&"> 
  </div>
  </div>
  
  </div>









  
  <div class="barraTareas">


    <div class="iocons">
      <ion-button (click)="goToHome()" class="botones">
        <ion-icon slot="icon-only" name="home-outline"></ion-icon>
      </ion-button> 
    </div>
    
    
    <div class="iocons">
      <ion-icon slot="icon-only" name="search-outline" class="iconspag"></ion-icon>
    </div>
    
    
    <div class="iocons">
      <ion-button (click)="goToReels()" class="botones">
        <ion-icon slot="icon-only" name="videocam-outline"></ion-icon>
      </ion-button> 
    </div>
    
    
    <div class="iocons">
      <ion-button (click)="goToShop()" class="botones">
        <ion-icon slot="icon-only" name="bag-handle-outline"></ion-icon>
      </ion-button> 
    </div>
    
    
    <div class="iocons">
      <ion-button (click)="goToPerfil()" class="botones">
        <ion-icon slot="icon-only" name="person-circle-outline"></ion-icon>
      </ion-button> 
    </div>
    
    
    </div>
</body>
