<body>
  <ion-content class="seeAll" >
    <ion-content class="all" scroll-y="false">
      <ion-header class="header">
        <img src="../../assets/OnlyShopping.png" alt="">
        <p style="color: #44a8e0;">Accede a chats y contenido unico para subs</p>
      </ion-header>


      
        <ion-card>
            <ion-card-content>
              <ion-grid class="produ">
                <ion-row class="infoPro" >
                  <ion-col>
        
                   <ion-grid class="informacion">

                     <ion-row>

                      <ion-col class="foto">
                        <img src="../../assets/mdi_person-circle.png" alt="">
                      </ion-col>
                        
                      <ion-col class="name">
                        JuanFits <img src="../../assets/image 3.png" alt="">
                      </ion-col>

                      <ion-col class="precio">
                       4.99$
                      </ion-col>

                      <ion-col class="boton">
                        <ion-button shape="round" class="botonBuy">Buy</ion-button>
                      </ion-col>

                     </ion-row>

                   </ion-grid>
        
                  </ion-col>
                </ion-row>


                <ion-row class="imaPro" scroll-y="false">
                  <ion-col scroll-y="false">
                 <ion-grid fixed scroll-y="false">

                 
                   <ion-segment  scrollable class="segmento" scroll-y="false">
                    <img src="../../assets/image 8.png">
                    <img src="../../assets/image 9 (1).png">
                    <img src="../../assets/image 10 (2).png">
                    <img src="../../assets/image 11.png">
                    <img src="../../assets/image 12.png">
                   </ion-segment>
        
                  </ion-grid>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-card-content>
        </ion-card>




        <ion-card>
            <ion-card-content>
              <ion-grid class="produ">
                <ion-row class="infoPro" >
                  <ion-col>
        
                   <ion-grid class="informacion">

                     <ion-row>

                      <ion-col class="foto">
                        <img src="../../assets/mdi_person-circle.png" alt="">
                      </ion-col>
                        
                      <ion-col class="name">
                        Ronaldo <img src="../../assets/image 3.png" alt="">
                      </ion-col>

                      <ion-col class="precio">
                       3.99$
                      </ion-col>

                      <ion-col class="boton">
                        <ion-button shape="round" class="botonBuy">Buy</ion-button>
                      </ion-col>

                     </ion-row>

                   </ion-grid>
        
                  </ion-col>
                </ion-row>


                <ion-row class="imaPro" scroll-y="false">
                  <ion-col scroll-y="false">
                 <ion-grid fixed scroll-y="false">

                 
                   <ion-segment  scrollable class="segmento" scroll-y="false">
                    <img src="../../assets/cris1.png">
                    <img src="../../assets/cris2.png">
                    <img src="../../assets/cris3.png">
                    <img src="../../assets/cris4.png">
                    <img src="../../assets/cris5.png">
                   </ion-segment>
        
                  </ion-grid>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-card-content>
        </ion-card>





        <ion-card>
            <ion-card-content>
              <ion-grid class="produ">
                <ion-row class="infoPro" >
                  <ion-col>
        
                   <ion-grid class="informacion">

                     <ion-row>

                      <ion-col class="foto">
                        <img src="../../assets/mdi_person-circle.png" alt="">
                      </ion-col>
                        
                      <ion-col class="name">
                        vinijr <img src="../../assets/image 3.png" alt="">
                      </ion-col>

                      <ion-col class="precio">
                       2.99$
                      </ion-col>

                      <ion-col class="boton">
                        <ion-button shape="round" class="botonBuy">Buy</ion-button>
                      </ion-col>

                     </ion-row>

                   </ion-grid>
        
                  </ion-col>
                </ion-row>


                <ion-row class="imaPro" scroll-y="false">
                  <ion-col scroll-y="false">
                 <ion-grid fixed scroll-y="false">

                 
                   <ion-segment  scrollable class="segmento" scroll-y="false">
                    <img src="../../assets/bini1.png">
                    <img src="../../assets/bini2.png">
                    <img src="../../assets/bini3.png">
                    <img src="../../assets/bini4.png">
                    <img src="../../assets/bini5.png">
                   </ion-segment>
        
                  </ion-grid>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-card-content>
        </ion-card>






        <ion-card>
            <ion-card-content>
              <ion-grid class="produ">
                <ion-row class="infoPro" >
                  <ion-col>
        
                   <ion-grid class="informacion">

                     <ion-row>

                      <ion-col class="foto">
                        <img src="../../assets/mdi_person-circle.png" alt="">
                      </ion-col>
                        
                      <ion-col class="name">
                        lehmann7 <img src="../../assets/image 3.png" alt="">
                      </ion-col>

                      <ion-col class="precio">
                       6.99$
                      </ion-col>

                      <ion-col class="boton">
                        <ion-button shape="round" class="botonBuy">Buy</ion-button>
                      </ion-col>

                     </ion-row>

                   </ion-grid>
        
                  </ion-col>
                </ion-row>


                <ion-row class="imaPro" scroll-y="false">
                  <ion-col scroll-y="false">
                 <ion-grid fixed scroll-y="false">

                 
                   <ion-segment  scrollable class="segmento" scroll-y="false">
                    <img src="../../assets/leman1.png">
                    <img src="../../assets/leman2.png">
                    <img src="../../assets/leman3.png">
                    <img src="../../assets/leman4.png">
                    <img src="../../assets/leman5.png">
                   </ion-segment>
        
                  </ion-grid>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-card-content>
        </ion-card>
        
    


 
    </ion-content>
  </ion-content>
 
  <ion-grid class="barraTareas">
    <ion-row class="row">
      <ion-col class="iocons">
        <ion-button (click)="goToHome()" class="botones">
          <ion-icon slot="icon-only" name="home-outline"></ion-icon>
        </ion-button> 
      </ion-col>
      <ion-col class="iocons">
        <ion-button (click)="goToSearch()" class="botones">
          <ion-icon slot="icon-only" name="search-outline" class="iconosbot"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col class="iocons">
        <ion-button (click)="goToReels()" class="botones">
          <ion-icon slot="icon-only" name="videocam-outline" class="iconosbot"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col class="iocons">
        <ion-button  class="botones">
          <ion-icon slot="icon-only" name="bag-handle-outline" class="iconspag"></ion-icon>
        </ion-button> 
      </ion-col>
      <ion-col class="iocons">
        <ion-button (click)="goToPerfil()" class="botones">
          <ion-icon slot="icon-only" name="person-circle-outline"></ion-icon>
        </ion-button> 
      </ion-col>
    </ion-row>
  </ion-grid>
</body>